@import url(https://use.fontawesome.com/e2e98f39a3.css);
@import url(https://fonts.googleapis.com/css?family=Quicksand|Pacifico);

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: Quicksand, sans-serif;
}
